.navbar {
    padding-top: 1px;
    padding-left:2px;
    margin: 2px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:start;
    padding-left: 100px;
}

.p1{
    padding-left: 50px;
    display: flex;
    flex:flex-start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.images{
    background-color: aliceblue;
    color: black;
    border-radius: 100px;
    border: 1px solid rgb(158, 151, 247);
    padding: 10px;
    padding-left: 40px;
    border: image 200px;
    width:600px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    transition: transform 0.3s; 
     
    
}

.images:hover {
    background-color:rgb(208, 208, 249);
    transform: scale(1.05);
}
.h1{
    text-align: center;
    position: sticky;
    top:2px;
    background-color:lavender;
    color:blueviolet;
}
.image-container {
    /* border: 3px;
    background-color:purple; */
    /* justify-content: center;
    gap:20px; */
    /* align-items: center; */
    /* display:grid;
    grid-template-rows: repeat(3,1fr);
    gap:10px; */
    padding: 20px;
    margin:2px;
    /* text-align: center; */
    /* display: flex;
    flex-direction: row;  */
}



.button-out{
    padding-left: 250px;
    padding-bottom: 100px;
}
button {
    background-color: rgb(229, 224, 233);
    color:rgb(16, 17, 17);
    text-align: center; 
    /* justify-content: center;
    align-items: center; */
    padding:2px; 
    border:2px solid rgba(20, 20, 20, 0.734);
    position:static;
    padding-left:0px;
    /* display: block;
    margin:7px auto; */
}
button:hover{
    background-color:rgb(152, 152, 235);
}
.animate{
    animation: slideIn 1s ease-in-out ;
}
@keyframes slideIn {
    0%{left:0;}
    100%{left:100px;}
    
}



/* gallery */

.gallery-image {
    text-align: center;
    transition: transform 0.3s; 
    position: static;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    
}
.gallery-hov:hover{
    background-color: rgb(208, 208, 237);
    transform: scale(1.10);
    position: static;
    width: 500px;
    border-radius: 70px;
    border: 2px solid rgb(146, 146, 232);
    
}
p{
    padding-left: 50px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-weight:200;
}


/* .para{

    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    /* justify-content: space-between; */
      
.table {
    margin:2px;
    padding:20px;
    display: grid;
    justify-content:center; 


}
table,tr,td {
    border: 2px solid;
    border-radius: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(201, 168, 246);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: pace-evenly;
   


}
td{
    /* border-radius: 10px; */
    background-color: rgb(202, 175, 232);
    text-align: center;

}
table{
    width:100px;
    border-collapse: collapse;

}
h1 {
    text-align: center;
    align-items: center;
    position: sticky;
    top:2px;
    background-color:lavender;
    color:blueviolet;
}
footer{
    /* background-color:rgb(236, 236, 241); */
    position: fixed;
    bottom:0px;
    left: 1280px;
    text-align: center;
}





